table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}
  
table {
  border-collapse: collapse;
  width: 100%;
  color: #fff;
}

th, td {
  padding: 15px;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 8px;
}

.btn-next-round {
  background-color: red;
  color: #fff;
  margin-left: 45%;
  font-size: 22px;
}

.btn-vote {
  background-color: green;
  color: #fff;

}

.round_list {
  color:#fff;
  display: inline-block; 
  margin-right: 10px; 
}

.votes_view {
  display: block;
  background-color: #1f2937;
  padding: 5%;
  border-radius: 8px;
}

.prev_rounds {
  font-size: 22px;
  color:chocolate;
  text-align: center;
  padding-bottom: 10px;
  margin-top: -25px;
}

.btn-revoke-vote {
  background-color: red;
  color:#fff;
}

.btn-candidate {
  color: #000;
  background-color: rgb(169, 233, 97);
  margin-left: 45%;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.btn-revoke-candidate {
  color: #000;
  background-color: rgb(255, 2, 2);
  margin-left: 45%;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;

}